body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.page{
  background: #e2e2e2;
  min-height: 1000px;
  padding: 10px;
}

.page-content{
  margin: auto;
  width: 960px;
  background: #fff;
}

.page-content h1{
  text-align: center;
}

.page-text{
  padding: 10px;
}

.page-text img{
  width: 100px;
  display: block;
  margin: auto;
}

.clear{
  display: table;
}

.clear:before,
.clear:after{
  content: "";
}

.lol{
  animation: hey 4s infinite linear;
}

@keyframes hey{
  0%   {color: red}
  25%  {color: yellow}
  50%  {color: green}
  75%  {color: blue}
  100% {color: red}
}

.title-cv{
	font-family: monospace;
}

.amerique{
	color: #fff;
	background: #00204E;
	border: 2px solid #C30C3E;
	display: inline-block;
}

.europe{
	letter-spacing: 2px;
}

.europe:hover:after{
	content: " (brexit)";
}

.afrique{
	background: linear-gradient(red, yellow);
}

.asie{
	line-height: 8px;
	font-size: 8px;
	vertical-align: top;
}

.tour-eiffel{
	text-transform: uppercase;
}

.tour-eiffel span{
	font-size: 112%;
	transition: 5s;
}

.tour-eiffel:hover span{
	font-size: 125%;
}

.pole-nord{
	border: 2px solid #f00;
	padding: 5px;
	background: url("snow.png");
	animation: snow 3s infinite linear;
}

@keyframes snow{
  0%   {background-position: 50% 20px;}
  100% {background-position: 50% 120px;}
}

.css-clock{
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
}

.css-clock .horloge{
  background: #eaeaea;
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.css-clock .box-handle{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*.css-clock .box-handle-heure{
  animation: box-handle-rotate 86400s infinite linear;
  z-index: 3;
}

.css-clock .box-handle-minute{
  animation: box-handle-rotate 3600s infinite linear;
  z-index: 1;
}

.css-clock .box-handle-seconde{
  animation: box-handle-rotate 60s infinite linear;
  z-index: 5;
}*/

/* testing */
.css-clock .box-handle-heure{
  animation: box-handle-rotate 24s infinite linear;
  z-index: 3;
}

.css-clock .box-handle-minute{
  animation: box-handle-rotate 3s infinite linear;
  z-index: 1;
}

.css-clock .box-handle-seconde{
  animation: box-handle-rotate 1s infinite linear;
  z-index: 5;
}

.css-clock .handle-heure{
  background: #ff0000;
  width: 8px;
  height: 28px;
  position: absolute;
  top: 46px;
  left: 46px;
}

.css-clock .handle-minute{
  background: #00ff00;
  width: 6px;
  height: 48px;
  position: absolute;
  top: 45px;
  left: 47px;
}

.css-clock .handle-seconde{
  background: #0000ff;
  width: 2px;
  height: 52px;
  position: absolute;
  top: 45px;
  left: 49px;
}

@keyframes box-handle-rotate{
  0%   {transform: rotate(180deg)}
  100% {transform: rotate(540deg)}
}
